.popup-plate {
    padding: 16px;
    border-radius: 12px;

    &_color_gray {
        background-color: var(--surface-color-gray);
    }

    &_color_white {
        background-color: var(--surface-color-light);
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 16px;

        font-size: 18px;
        line-height: 18px;
        font-weight: 500;

        color: var(--font-color-dark-gray);
    }

    &__expand-button {
        display: none;

        margin-left: auto;

        transition: transform 100ms ease-in-out;
        transform: rotate(180deg);

        &_expanded {
            transform: rotate(0deg);
        }
    }

    &__status-badge::before {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;

        border-radius: 6px;
    }

    &__content {
        margin-top: 24px;
    }

    &_status_active,
    &_status_finish-stantion {
        .popup-plate {
            &__controls {
                cursor: pointer;
            }

            &__title {
                color: var(--font-color-primary);
            }

            &__expand-button {
                display: block;
            }

            &__status-badge::before {
                content: attr(data-numberic);

                background-color: var(--control-color-primary);

                font-family: SFProRounded, sans-serif;
                font-weight: 700;
                font-size: 16px;

                color: var(--surface-color-gray);
            }
        }
    }

    &_status_finish-stantion {
        .popup-plate__status-badge::before {
            content: url('./finish-stantion.svg');

            background-color: var(--control-color-primary);
        }
    }

    &_status_finished {
        .popup-plate__status-badge::before {
            content: url('./finished.svg');

            background-color: var(--control-color-secondary);
        }
    }

    &_status_locked {
        .popup-plate__status-badge::before {
            content: url('./locked.svg');

            background-color: var(--control-color-disabled-dark);
        }
    }
}
