.participant-locations {
    &__content-wrapper {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__question {
        margin-top: 8px;
    }
}
