.support-plate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    height: 60px;
    width: 600px;
    padding: 16px;
    box-sizing: border-box;

    max-width: calc(100% - 48px);

    background-color: #eee;
    border-radius: 24px;

    font-family: SFProRounded, sans-serif;
    color: #666666;
    font-size: 12px;
    line-height: 14.32px;

    @media screen and (max-width: 600px) {
        max-width: calc(100% - 24px);
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    &__sos {
        width: 24px;
        height: 24px;
    }

    &__dummy {
        margin-left: 4px;

        img {
            display: block;
            width: 32px;
            height: 32px;
        }
    }
}
