.page {
  display: flex;
  justify-content: center;

  min-width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
  padding: 24px;

  background: #DDDDDD url("./pattern.png");
  background-size: contain;

  &__content {
    max-width: 600px;
  }
}
