.curator-page__teams {
    margin-top: 12px;

    max-height: calc(100vh - 200px); // отступы плашки и прочее
    overflow: scroll;

    box-sizing: border-box;

    @media screen and (max-width: 325px) {
        max-height: calc(100vh - 248px);
    }

    &_safari {
        max-height: calc(100vh - 260px);

        @media screen and (max-width: 400px) {
            max-height: calc(100vh - 280px);
        }

        @media screen and (max-width: 350px) {
            max-height: calc(100vh - 308px);
        }
    }
}
