@font-face {
  font-family: 'ArticularCF';
  src: url('shared/lib/fonts/ArticulatCF-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArticularCF';
  src: url('shared/lib/fonts/ArticulatCF-DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  /* Цвета интерактивных и (цепляющих) элементов */
  --control-color-primary: #f78822;
  --control-color-secondary: #56c456;
  --control-color-error: #fa7392;
  --control-color-disabled: #bbb;
  --control-color-disabled-dark: #888;

  --control-color-primary-pressed: #ca6f1a;
  --control-color-secondary-pressed: #4e9c4e;
  --control-color-error-pressed: #fa7392;

  --control-color-primary-text: #ffffff;
  --control-color-secondary-text: #277127;
  --control-color-error-text: #843749;
  --control-color-disabled-text: #888;

  /* Цвета поверхностей */
  --surface-color-light: #F6F6F6;
  --surface-color-gray: #ddd;
  --surface-color-dark-gray: #ccc;
  --surface-color-darker-gray: #bbb;

  /* Цвета текста */
  --font-color-primary: #2f2f2f;
  --font-color-secondary: #666;
  --font-color-placeholder: #aaa;
  --font-color-dark-gray: #888;

  /* Шрифт */
  --font-family-primary: ArticularCF, sans-serif;
}
