.status-plate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-wrap: wrap;

    padding: 16px 16px 8px 24px;
    border-radius: 24px;

    background: #eeeeee;

    @media screen and (max-width: 420px) {
        justify-content: center;
    }

    &__logo {
        width: 36px;
        height: 36px;

        margin-right: 8px;
        margin-bottom: 8px;
    }

    &__block {
        display: flex;
        align-items: center;

        height: 36px;
        padding: 0 8px;
        border-radius: 8px;

        background-color: #dddddd;
        color: #888888;

        &_orange {
            background: #F28B53;
            color: #853D16;
        }

        svg {
            margin-left: 1px;
            margin-right: 8px;
        }
    }

    &__wrapped-block {
        margin-right: 8px;
        margin-bottom: 8px;
    }

    &__flex-center {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
    }

    &__stantion-name  {
        font-family: SFMono, sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 9px;
        margin-right: 8px;
    }
}
