.status-plate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    padding: 16px 16px 8px 24px;
    border-radius: 24px;

    background: var(--surface-color-light);

    @media screen and (max-width: 420px) {
        justify-content: center;
    }

    &__logo {
        width: 36px;
        height: 36px;

        margin-right: 8px;
        margin-bottom: 8px;
    }

    &__block {
        display: flex;
        align-items: center;

        height: 36px;
        padding: 0 8px;
        border-radius: 8px;

        background-color: var(--surface-color-gray);
        color: var(--font-color-dark-gray);

        &_secondary {
            background: var(--control-color-secondary);
            color: var(--control-color-secondary-text);
        }

        &_time {
            min-width: 100px;
        }

        svg {
            margin-left: 1px;
            margin-right: 8px;
        }
    }

    &__wrapped-block {
        margin-right: 8px;
        margin-bottom: 8px;
    }

    &__flex-center {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
    }

    &__stantion-name {
        padding: 16px 24px;
        border-radius: 24px;
        margin-top: 8px;
        background: var(--surface-color-light);

        font-size: 18px;
        font-weight: 500;
    }
}
